<!DOCTYPE html>
<html>
<head>
    <title>Seleziona gli argomenti</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/aggiunte.css') }}">

</head>
<body>
    <div class="container">
        <h1 class="text-center my-5">Seleziona gli argomenti che ti interessano</h1>
        <form method="post" action="{{ url_for('home') }}">
            <div class="row justify-content-center">
                {% for argomento in argomenti %}
                    <div class="col-md-5">
                        <div class="form-check">
                            <ul>
                                <li>
                                    <input class="form-check-input" type="checkbox" name="argomenti" value="{{ argomento }}" id="argomento{{ loop.index }}">
                                    <label class="form-check-label" for="argomento{{ loop.index }}">
                                        {{ argomento }}
                                    </label>
                                </li>
                            </ul>

                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary">Invia</button>
            </div>
        </form>
    </div>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>
