<!DOCTYPE html>
<html>
<head>
    <title>Corsi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/show_courses.css') }}">


</head>
<body>

    {% for subject, courses in user_courses.items() %}
    <h1 class="text-center my-5">{{ subject }}</h1>

    <ul>
        {% for index, course in courses.iterrows() %}
        <li>
            <div class="course-container">

            <form action="{{ course['course_url'] }}">
                    <h3>{{ course['title'] }}</h3>
                    <p>{{ course['institution'] }}</p>
                    <p>{{ course['summary'] }}</p>
                    <p>{{ course['Level'] }}</p>
                    <input type="submit" value="Go to the Course" class="btn btn-primary btn-block"/>
            </form>
            </div>

        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</body>
</html>

