<!DOCTYPE html>
<html>
<head>
    <title>Corsi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/show_courses.css') }}">

  <style>
        .course-container {
            padding: 10px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }

        .course-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .course-item {
            flex-basis: 30%;
        }

        .row {
            max-height: 300px;
        }

    </style>
</head>
<body>

    <div class="container">
        {% for subject, courses in user_courses.items() %}
        <h1 class="text-center my-5">{{ subject }}</h1>

        <div class="row">
            {% for index, course in courses.iterrows() %}
            <div class="col-md-4">
                <form action="{{ course['course_url'] }}">
                    <div class="course-container">
                        <h3>{{ course['title'] }}</h3>
                        <h4>{{ course['institution'] }}</h4>
                        <p>{{ course['summary'] }}</p>
                        <p>{{ course['Level'] }}</p>
                        <input type="submit" value="Go to the Course" class="btn btn-primary btn-block"/>
                    </div>
                </form>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

</body>
</html>
